:root{
    --bg-color:#fff;
    --second-bg-color:#A7D252;
    --text-color:#18191A;
    --main-color:#08694A;
    --second-color:#c4feb7;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;                    
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    width:100%; 
    text-transform: capitalize;
    height:60px;
    padding: 10px 30px;
}
.left{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    justify-content: space-between;

}
.left h3{
    background-color: rgb(232, 231, 231);
    text-transform: uppercase;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.left #cta{
    color: var(--second-bg-color);
    margin-left: 20px;
}

nav{
    text-transform: capitalize;
    color: black;
}

nav ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;

}
nav li:first-child{
    margin-right:auto ;
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--bg-color);
}
nav a:hover{
    background-color: var(--main-color);
}


.sidebar{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #333;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}

.menu-btn{
    display: none;
    color: var(--bg-color);
    padding-left: 20px;
    font-size: 15px;
}


/* start quiz */

#start-container,.review-container{
    margin-bottom: 20px;
    align-items: center;
    width:40%;
    height: 90vh;
    background-color: var(--bg-color);
    margin: 50px auto 0;
}
.box1{
    display: flex;
    border: 2px solid rgb(238, 236, 236);
    padding: 5px 10px;
    margin-top: 20px;
    align-items: center;
    gap: 20px;
}

#start-container h4{
    font-size: 16px;
    padding: 10px 0 5px 0;


}
#start-container li{
    font-size: 14px;
    color: #333;
}
.overview{
    padding: 30px 0;
}
.overview li{
    list-style-type: disc;
    color: #333;
    margin-left: 30px
}

.instructions{
    padding-bottom: 25px ;
}
.instructions li{
    list-style-type: disc;
    color: #333;
    margin-left: 30px;
}

#start-btn,#btn4{
    border: none;
    outline: none;
    color: var(--bg-color);
    background-color: var(--main-color);
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}




ul{
  display: flex;
  align-items: center;
}

li{
    list-style-type: none;
}
a{
   margin-right: 14px;
   font-size: 12px;
   font-weight: 400;
   text-decoration:none; 
   color: #fff;
}

#quiz-notification{
    position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--text-color);
        color: #fff;
        padding: 20px;
        text-align: center;
        display: none;
        
}
#quiz-container {
    margin-bottom: 20px;
    align-items: center;
    width:40%;
    height: 90vh;
    text-align: center;
    background-color: var(--bg-color);
    margin: 50px auto 0;
}

#progress-bar-container {
    width: 100%;
    height: 2px;
    background-color:rgb(238, 236, 236);
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0; 
    background-color:var(--main-color);
    border-radius: 10px;
    transition: width 0.3s; 
}
#question-counter {
    font-size: 13px;
    color:var(--text-color);
    padding:0 15px ;
    text-align: left;
}

h2{
    font-size: 21px;
    margin-bottom: 12px;
}

#quiz-container h2{
    font-size: 18px;
    margin-bottom: 12px;
    text-align: left;
}
.option{
    background-color: var(--bg-color);
    color:var(--text-color);
    padding: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border: 1px solid rgb(232, 231, 231);
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    transition: ease-in-out 0.3s;
}


.option:hover {
    background-color:#eeffea
}
.option.selected {
    background-color: #eeffea;
    color: #000; 
    border: 2px solid var(--second-bg-color);


}

.incorrect-answer{
    background-color:red;
}
.correct-answer{
    background-color: green;
}


.buttons, .finish-buttons {
   display: flex;
   align-items: center;
    justify-content: space-between;
}

#start-btn,#btn4{
    padding: 10px 18% ;
box-sizing: border-box;    
text-align: center;
}

#btn1{
    border: 2px solid rgb(238, 236, 236);
    outline: none;
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 10px 110px;
    
}
#btn2{
    border: none;
    outline: none;
    color: var(--bg-color);
    background-color: var(--main-color);
    padding: 10px 110px;
    cursor: pointer;
}

.main{
    text-align: center;
    margin:100px auto 0;
    width: 30%;
}


.main h2{
    margin-top: 15px;
    font-size: 14px;
    color: black;
}
.main p{
    font-size: 12px;
    color: #b4b2b2;
    margin:0 0 30px 0;
    text-align: center;
}


        
#skip-btn{
    border: 2px solid rgb(238, 236, 236);
    background-color: var(--bg-color);
    color: var(--main-color);
    
}
#btn4{
    width: 100%;
    margin-bottom: 10px;
}
#btn3{
   background-color: var(--bg-color);
   color: var(--main-color);
   border: 2px solid #eeecec;
   padding: 10px 70px;
}
#review-btn{
    border: none;
    outline: none;
    color: var(--bg-color);
    background-color: #333;
    padding: 10px 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#btn3:hover,#btn1:hover,#skip-btn:hover,#review-btn:hover{
   background-color: rgb(232, 231, 231);
   color: #05422e
   ;
   transition: ease-in-out .5s;
}
#btn4:hover,#btn2:hover,#start-btn:hover{
    background-color: var(--text-color);
    transition: ease-in-out .4s;
}

/* Add your styling here, for example: */
.review-question {
    display: inline-block;
    margin-right: 20px;
    white-space: normal;
    vertical-align: top;
}

.review-options {
    margin-top: 10px;
}

.option {
    margin-right: 10px;
}
.correct-answer {
    background-color: #8FED8F; /* Light green for correct answer */
}

.user-answer {
    background-color: #F08080; /* Light coral for user's answer */
}













@media(max-width:800px) {
    #quiz-container,#start-container{
        width: 90%;
        height: 100vh;
    }
    #start-container h4{
        font-size: 14px;
        padding: 10px 0 5px 0;
    
    
    }
    #start-container li{
        font-size: 12px;
    }
    
    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .hideonmobile{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav li{
        width: 100%;
        margin-bottom: 10px;
    }
    nav li:first-child{
        margin-right: 0;
        margin-bottom: 10px;
    }
    nav a{
        padding: 10px 0;
        margin-bottom: 5px;
    }
    .sidebar{
        width: 100%;
        height: auto;
        padding-left: 10px;

    }

    .main{
        width: 50%;
        
    }
   
    
    .buttons {
        align-items: center;
    }
    #btn1{
        padding: 10px 80px;
        
    }
    #btn2{
        padding: 10px 80px;
       
    }
    #btn3{
        padding: 10px 40px;
     }
     #review-btn{
  
         padding: 10px 40px;
     }
    
  
    

@media(max-width:400px) {
    .sidebar{
        width:100% ;
    }
    #start-container h4{
        font-size: 14px;
        padding: 10px 0 5px 0;
    
    
    }
    #start-container li{
        font-size: 12px;
    }  

    #btn1{
        padding: 10px 60px;
        
    }
    #btn2{
        padding: 10px 60px;
       
    }
    .finish-buttons{
        flex-direction: column;
    }
    #btn3, #review-btn{
        width: 100%;
        margin-bottom:15px;
        
    }
}


    
}



